body::-webkit-scrollbar{
    display: none;
}
nav #brand_name{
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    padding: 0 10px;
}
.nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0 10px;
}
.nav-search{
    margin-left: 30px;
}
.navbar-nav .btn{
    padding: 0 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.navbar-nav .dropdown-menu{
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(169, 169, 169, 0.555);
}
.navbar-nav .dropdown-menu .dropdown-item{
    margin: 0;
    padding:10px 40px 10px;
    font-size: large;
}
.navbar-nav .dropdown-menu .dropdown-item:hover{
    color: rgb(97, 97, 240);
}
.navbar-nav .dropdown-menu .disabled{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    opacity: .5;
}
#sec-one{
    position: relative;
}
#sec-one-carousel{
    position: absolute;
}
.carousel-inner{
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}
.carousel-inner img{
    height: 90vh;
    min-width: 100vw;
}
#sec-one{
    height:90vh;
}
#sec-one #container{
    position: absolute;
    z-index: 1;
    /* background-color: red; */
    height: 90vh;
}
#sec-one #container .first-line{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: rgb(214, 79, 203);
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
#sec-one #container .second-line{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 72px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.search-bar{
    background-color: white;
    padding: 4px;
    border-radius: 50px;
    
}
.search-bar input,.search-bar .dropdown,.search-bar .btn{
    border-radius: 50px;
    margin: 0;
}
#sec-two{
    background-color: rgb(247, 247, 247);
    padding: 100px 0 40px;
}
#sec-two .first-line{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: rgb(248, 19, 134);
    letter-spacing: 3px;
    text-align: center;
}
#sec-two .second-line{
    font-family: 'Poppins', sans-serif;
    font-weight:800;
    font-size: 30px;
    margin: 10px 0 50px;
    text-align: center;
}
#sec-two .card{
    /* background-color: rgb(214, 214, 243); */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 10px;
    /* margin: 0 5px;/ */
}
#sec-two .card i{
    text-align: center;
    background-color: rgb(214, 214, 243);
    padding: 10px;
    font-size: 35px;
    border-radius: 50%;
    margin: 50px 0 20px ;
}
#sec-two .card .card-body h5{
    font-weight: bolder;
}
#sec-three{
    padding: 100px 0 40px;
}
#sec-three #sub-container{
    margin: 0;
}
#sec-three .first-line{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: rgb(42, 19, 248);
    letter-spacing: 3px;
}
#sec-three .second-line{
    font-family: 'Poppins', sans-serif;
    font-weight:800;
    font-size: 30px;
}
.guides a{
    font-size: medium;
    color: rgb(128, 128, 128);
}
#sec-three #place-gallery .image{
    height: 400px;
    position: relative;
    overflow: hidden;
}
#sec-three #place-gallery .image img{
    height: 100%;
}
#sec-three #place-gallery .image h1{
    position: absolute;
    bottom: 0;
    z-index: 3;
}